#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-image: url("https://www.dropbox.com/scl/fi/ri0fqbmx7szs21fkrxjw5/bg.jpg?rlkey=01io3r9b86zxiy5hefjxil0la&st=p4lnxkjx&dl=1");
}
.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #e5e7eb;
}
.button-song {
  background-color: #1a202ba4;
  width: 20%;
  margin: 0 auto;
  border-end-end-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 1.5%;
}
.song-left {
  cursor: pointer;
  margin-right: 7%;
  width: 9%;
  margin-bottom: 5%;
}
.song-right {
  cursor: pointer;
  margin-left: 7%;
  width: 9%;
  margin-bottom: 5%;
}
.song-play {
  cursor: pointer;
  width: 18%;
  border-radius: 30px;
}

.song-pause {
  cursor: pointer;
  width: 18%;
  border-radius: 30px;
}
@media (300px <= width <= 900px) {
  .button-song {
    width: 80%;
  }
}
